.amount-input{
  margin-top: 24rpx;
  background-color: #FFFFFF;
  .amount-header{
    display: flex;
    .amount-input-titles{
      font-family: PingFangSC-Regular;
      font-size: 32rpx;
      line-height: 45rpx;
      color: #999999;
      letter-spacing: 0;
      padding: 24rpx 0 16rpx;
      white-space: nowrap;
    }
    .amount-input-discount{
      line-height: 33rpx;
      height: 40rpx;
      padding: 4rpx 8rpx;
      background: #FFFFFF;
      border: 1rpx solid #FFE1D9;
      border-radius: 4rpx;
      font-family: PingFangSC-Medium;
      font-size: 24rpx;
      color: #FF7755;
      letter-spacing: 0.5rpx;
    }
    input{
      height: 75rpx;
      margin: 35rpx 0 59rpx;
      text-align: right;
      font-size: 64rpx;
      caret-color:#108EE9;
      font-family: HelveticaNeue;
      color: #151515;
      line-height: 90rpx;
    }
  }
  .amount-footer{
    padding-top: 24rpx;
    font-family: PingFangSC-Regular;
    font-size: 24rpx;
    color: rgba(153,153,153,0.60);
    border-top: 2rpx solid #EEEEEE;
    text-align: right;
  }
}